/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;

  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
  background: #222;
  color: #fff;
  /* background-image: url('isometric-grid.svg');
  background-repeat: repeat; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--red);
  transform-origin: 0%;
}

.hero {
  max-width: 700px;
  display: flex;

  color: #fff;
  font-size: 50px;
  transform: rotate(-28deg) skew(25deg);
}
