* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color variables */
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
  --skew: skew(10deg);
  --rotate: rotate(-5deg);

  background-color: #242424;
  /* background-image: url('grid-big.png'); */

  /* background image - grid pattern */
  &::before {
    content: '';
    position: absolute;
    width: 500%;
    height: 500%;
    top: -100%;
    left: -100%;
    z-index: -1;
    background: url('grid.png') 0 0 repeat;
    transform: var(--rotate) var(--skew);
  }
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 150px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--blue);
  transform-origin: 0%;
  z-index: 1000;
}
