* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  /* color variables */
  --bg: #242424;
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
  --skew: skew(10deg);
  --rotate: rotate(-5deg);

  background-color: var(--bg);
  overflow-x: hidden;
}

/* background image */
body::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 500%;
  height: 1000%;
  background: url('grid.png') repeat;
  transform: translate(-50%, -50%) var(--rotate) var(--skew);
  z-index: -1;
}

/* sections */
.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 500px;
  scroll-snap-align: center;
  color: #fff;

  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

.section-home {
  gap: 10%;
}

/* progress-bar */
.progress-bar {
  z-index: 10;
  position: fixed;
  bottom: 2%;
  right: 0;
  margin-right: 30px;
}

/* scroll-bar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--bg);
}
